<% include ./partials/header %>
<section class="pgcontent">
<header>
  <h3> Campgrounds Table</h3>
</header>
<table id="results">
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Image</th>
      <th>Description</th>
      <th>Location</th>
      <th>User</th>
     
    </tr>
    <% for(var i=0;i<results.length;i++){ %>
      <% var rows = results[i] %>
    <tr>
        <td> <%= rows.name %> </td>
        <td> <%= rows.price %> </td>
        <td> <%= rows.image %> </td>
        <td> <%= rows.description %> </td>
        <td> <%= rows.author.username %> </td>
        <td> <%= rows.location %> </td>
       
    </tr>
    <% } %>
</table>

<a href="/campgrounds">Campgrounds Page</a>
</section>
<% include ./partials/footer %>